@stylesheets={
} 
@javascripts={
} 
@main("中国禽流感专题",stylesheets,javascripts) {
<div class="container">
	<div class="row-fluid">
		<div class="span">
			<div class="span8 sider">
				<div class="span10 offset1">
					<h4 class="muted">什么是禽流感?</h4>
					<p>
						禽流感，全名鸟禽类流行性感冒，是由病毒引起的动物传染病，通常只感染鸟类，少见情况会感染猪。
						禽流感病毒高度针对特定物种，但在罕有情况下会跨越物种障碍感染人。
					</p>
					<h4 class="muted">禽流感介绍</h4>
					<p>
						禽流感（Bird Flu或Avian Influenza）是由禽流感病毒引起的一种急性传染病，也能感染人类，
						人感染后的症状主要表现为高热、咳嗽、流涕、肌痛等，多数伴有严重的肺炎，严重者心、肾等多种脏
						器衰竭导致死亡，病死率很高，通常人感染禽流感死亡率约为33%。此病可通过消化道、呼吸道、皮肤
						损伤和眼结膜等多种途径传播，区域间的人员和车辆往来是传播本病的重要途径。					
					</p>
					<p>
						禽流感是禽流行性感冒的简称，它是一种由甲型流感病毒的一种亚型（也称禽流感病毒）引起的传染性疾病，
						被国际兽疫局定为甲类传染病，又称真性鸡瘟或欧洲鸡瘟。按病原体类型的不同，禽流感可分为高致病性、低致病性和非致病
						性禽流感三大类。非致病性禽流感不会引起明显症状，仅使染病的禽鸟体内产生病毒抗体。低致病性禽流感可使禽类出现轻度
						呼吸道症状，食量减少，产蛋量下降，出现零星死亡。高致病性禽流感最为严重，发病率和死亡率均高，人感染高致病性禽流
						感死亡率约是60%，家禽感染的死亡率几乎是100%。
					</p>
					<h4 class="muted">潜伏时间</h4>
					<p>
						禽流感潜伏期从几小时到几天不等，其长短与病毒的致病性、感染病毒的剂量、感染途径和被感染禽的品种有关。
						羽绒制品通常会经过消毒、高温等多个物理和化学处理过程，传播病毒的几率应当很小。
					</p>
					<p>人患禽流感潜伏期一般为1～3天,通常在7天以内。人患禽流感死亡率达60%.</p>
				</div>
				@duoshuo()
			</div>
			<div class="span4 sider">
				<div class="span10 offset1">
					<h4 class="text-success">推荐的预防产品</h4>
					<hr>
					<div class="sider">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}
